
<div class="container">
  <div class="row">
    <div class="col-5">
        <h3 class="mt-2 mb-2">新增聯絡人</h3>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">姓名</span>
        </div>
        <input type="text" class="form-control" id="name" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">電話</span>
        </div>
        <input type="text" class="form-control" id="number" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">地址</span>
        </div>
        <input type="text" class="form-control" id="address" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">備註</span>
        </div>
        <input type="text" class="form-control" id="remark" aria-describedby="basic-addon1">
      </div>
      <button id="fun" type="button" class="btn btn-primary" (click)="fun()" [routerLink]="['']">輸入資料</button>
      <button id="fun" type="button" class="btn btn-primary" [routerLink]="['']">取消</button>
    </div>
  </div>
</div>